aiofiles==0.8.0
httptools==0.3.0
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
peewee==3.14.8
sanic==21.12.1
sanic-jinja2==2022.1.13
sanic-routing==0.7.2
sanic-session==0.8.0
ujson==5.1.0
uvloop==0.16.0
websockets==10.1
