{% extends "base.html" %}

{% block title %}Edit Item{% endblock %}

{% block content %}
  <div class="card-panel">
    {% if message %}
      <div class="card-panel green accent-3">
        <h5 class="white-text text-darken-2">{{ message }}</h5>
      </div>
    {% endif %}

    <h1>Edit this item</h1>
    <img class="responsive-img" src="/file/{{item.filename}}">
    <form action="" method="post", enctype="multipart/form-data">
      <input type="text" name="title" id="" placeholder="Title" value="{{ item.title }}">
      <input type="number" name="order" id="" placeholder="Order" value="{{ item.order }}">
      <textarea name="description" id="desc" class="materialize-textarea" placeholder="Description">{{ item.description }}</textarea>
        <div class="center-align">
          <button class="waves-effect waves-light btn-large" type="submit">Update</button>
        </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
    })
  </script>
{% endblock %}