{% extends "base.html" %}

{% block title %}Add Item{% endblock %}

{% block content %}
  <div class="card-panel">
    {% if message %}
      <div class="card-panel green accent-3">
        <h5 class="white-text text-darken-2">{{ message }}</h5>
      </div>
    {% endif %}

    <h1>Add a new item</h1>
    <form action="" method="post", enctype="multipart/form-data">
      <input type="text" name="title" id="" placeholder="Title" >
      <input type="number" name="order" id="" placeholder="Order" >
      <textarea name="description" id="desc" class="materialize-textarea" placeholder="Description"></textarea>
      <div class="file-field input-field">
        <div class="btn">
          <span>Image</span>
            <input type="file" name="file" id="">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="center-align">
          <button class="waves-effect waves-light btn-large" type="submit">Upload</button>
        </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
    })
  </script>
{% endblock %}