{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}
  <div class="card-panel">
    {% if show_edit_button %}
    <a class="waves-effect waves-light btn" style="float:right" href="/edit/{{ item.id }}">
      <span>Edit</span>
      <i class="material-icons left">edit</i>
    </a>
    {% endif %}
    <div class="row">
      {% for presentaion in presentaions %}
        <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="/file/{{presentaion.icon}}">
              </div>
              <div class="card-action center-align">
                <a href="{{ presentaion.get_url() }}">{{ presentaion.title }}</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      const ws = new WebSocket("ws://{{ WS_HOST }}:{{ WS_PORT }}/ws");
      ws.onmessage = function (event) {
        const elem_index = event.data;

        const sections = document.querySelectorAll('section');
        sections.forEach(function (section) {
          section.className = 'deactive';
        });
        document.querySelector(`#sec-${elem_index}`).className = 'active';
      };
      ws.onclose = function(e){
          console.log(e);
        };

      const num_of_sections = document.getElementsByTagName('section').length;
      const nextBtn = document.querySelector('#next');
      const prevBtn = document.querySelector('#prev');

      function go_forward() {
        const active_elem = document.querySelector('.active').getAttribute('id');
        const active_id = parseInt(active_elem.split("-")[1]);
        let next_id = active_id + 1;
        if (active_id == num_of_sections){
          next_id = 1;
        }
        // console.log(next_id);
        ws.send(next_id);
      }

      function go_backward() {
        const active_elem = document.querySelector('.active').getAttribute('id');
        const active_id = parseInt(active_elem.split("-")[1]);
        let prev_id = active_id - 1;
        if (prev_id == 0){
          prev_id = num_of_sections;
        }
        // console.log(message);
        ws.send(prev_id);
      }

      nextBtn.addEventListener('click', go_forward);
      prevBtn.addEventListener('click', go_backward);

      document.onkeydown = function(e) {
          e = e || window.event;
          if (e.keyCode == '37') {
            // left arrow
            go_backward();
          }
          else if (e.keyCode == '39') {
            // right arrow
            go_forward();
          }
      }
    })
  </script>
{% endblock %}