{% extends "base.html" %}

{% block title %}RTC{% endblock %}

{% block css %}
  <style>
    video {
      width: 100%;
      height: auto;
    }
  </style>
{% endblock css %}

{% block content %}

  <div id="login">
    <div class="input-field col s6">
      <input id="username" placeholder="username" required="" autofocus>
    </div>
    <button id="login" class="btn-large">Login</button>
  </div>

  <div id="call" style="display: none">
    <div class="row">
        <div class="col m6">
          <video id="local" autoplay></video>
        </div>
        <div class="col m6">
          <video id="remote" autoplay></video>
        </div>
    </div>

    <div>
      <input id="username-to-call" placeholder="Username to call" />
      <button id="call" class="btn-large">Call</button>
      <button id="close-call" class="btn-large">Close call</button>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="/static/materialize.min.js"></script>
  <script src="/static/adapter-latest.js"></script>

  <script>
    const ws = new WebSocket('ws://{{ WS_HOST }}:{{ WS_PORT }}/ws-rtc')

    ws.onopen = () => {
      console.log('Connected to the signaling server')
    }

    ws.onerror = err => {
      console.error(err)
    }

    

    ws.onmessage = msg => {
      const data = JSON.parse(msg.data)

      switch (data.type) {
        case 'login':
          handleLogin(data.success)
          break
        case 'offer':
          handleOffer(data.offer, data.username)
          break
        case 'answer':
          handleAnswer(data.answer)
          break
        case 'candidate':
          handleCandidate(data.candidate)
          break
        case 'close':
          handleClose()
          break
        default:
          break
      }
    }

    let otherUsername

    const sendMessage = message => {
      ws.send(JSON.stringify(message))
    }

    document.querySelector('button#login').addEventListener('click', event => {
      username = document.querySelector('input#username').value

      if (username === '') {
        alert('Please enter a username 🙂')
        return
      }

      sendMessage({
        type: 'login',
        username: username
      })
    })

    handleLogin = success => {
      if (success){
        document.querySelector('div#login').style.display = 'none'
        document.querySelector('div#call').style.display = 'block'
        navigator.mediaDevices.getUserMedia(
          { video: true }
        ).then(
          localStream => {
            document.querySelector('video#local').srcObject = localStream

            const configuration = {
              iceServers: [{ urls: 'stun:stun2.1.google.com:19302' }]
            }
            connection = new RTCPeerConnection(configuration)

            connection.addStream(localStream)

            connection.ontrack = event => {
              document.querySelector('video#remote').srcObject = event.streams[0]
            }

            connection.onicecandidate = event => {
              if (event.candidate) {
                sendMessage({
                  type: 'candidate',
                  candidate: event.candidate,
                  otherUsername: otherUsername
                })
              }
            }
          }
        ).catch(
          error => {
            console.error(error)
          }
        );
      } else {
        alert('😞 Username already taken')
      }
    }

    document.querySelector('button#call').addEventListener('click', () => {
      const callToUsername = document.querySelector('input#username-to-call').value

      if (callToUsername === '') {
        alert('Enter a username 😉')
        return
      }

      otherUsername = callToUsername

      // create an offer
      connection.createOffer(
        offer => {
          sendMessage({
            type: 'offer',
            offer: offer,
            otherUsername: otherUsername
          })

          connection.setLocalDescription(offer)
        },
        error => {
          alert('Error when creating an offer')
          console.error(error)
        }
      )
    })

    const handleOffer = (offer, username) => {
      otherUsername = username  // for onicecandidate
      connection.setRemoteDescription(new RTCSessionDescription(offer))
      connection.createAnswer(
        answer => {
          connection.setLocalDescription(answer)
          sendMessage({
            type: 'answer',
            answer: answer,
            otherUsername: otherUsername
          })
        },
        error => {
          alert('Error when creating an answer')
          console.error(error)
        }
      )
    }

    const handleAnswer = answer => {
      connection.setRemoteDescription(new RTCSessionDescription(answer))
    }

    const handleCandidate = candidate => {
      connection.addIceCandidate(new RTCIceCandidate(candidate))
    }

    document.querySelector('button#close-call').addEventListener('click', () => {
      sendMessage({
        type: 'close',
        otherUsername: otherUsername
      })
      handleClose()
    })

    const handleClose = () => {
      otherUsername = null
      document.querySelector('video#remote').src = null
      connection.close()
      connection.onicecandidate = null
      connection.ontrack = null
    }
  </script>
{% endblock %}